.labelTable {
    margin: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    vertical-align: middle;
    border-spacing: 0;
    border-radius: 3px;
    border: 1px solid silver;
}

.labelTable tr {
    border: 1px solid silver;
    border-radius: 3px;
}

.name{
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    width: 125px;
    height: 45px;
    padding-left: 5px;
}

.date {
    width: 45px;
    height: 45px;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 3px 0 0 3px;
}

.gdg {
    background-color: #469BF3;
}

.gbg {
    background-color: #27B945;
}

.geg {
    background-color: #FCD120;
}

.gxg {
    background-color: #E3624A;
}
