/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
* { 
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5,
a, p, span
{ font-family: "OpenDyslexic", "Open Sans", "Helvetica", "Arial", "sans-serif";}

img { 
	max-width: 100%; 
}
.collapse {
	margin:0;
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
  background: #EAEDEF;
}


/* ------------------------------------- 
		ELEMENTS 
------------------------------------- */
a { color: #006ac5;}

.btn {
	text-decoration:none;
	color: #FFF;
	background-color: #666;
	padding:10px 16px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	cursor:pointer;
	display: inline-block;
}

p.callout {
	padding:15px;
	background-color:#ECF8FF;
	margin-bottom: 15px;
}
.callout a {
	font-weight:bold;
}

table.social {
/* 	padding:15px; */
	background-color: #ecf0f1;
	
}
.social .soc-btn {
	padding: 3px 7px;
	font-size:12px;
	margin-bottom:10px;
	text-decoration:none;
	color: #FFF;font-weight:bold;
	display:block;
	text-align:center;
}
a.fb { background-color: #3B5998!important; }
a.tw { background-color: #1daced!important; }
a.gp { background-color: #DB4A39!important; }
a.ms { background-color: #000!important; }

.sidebar .soc-btn { 
	display:block;
	width:100%;
}

.center {
  text-align: center;
}

hr {
  color: #EAEDEF;
  background-color: #EAEDEF;
  height: 2px; 
  border: none;
}

.hr {
  width: 400px;
  margin: 0 auto;
}



/* ------------------------------------- 
		HEADER 
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}
.header.container .content {text-align: center;}
.header.container .content a {margin: 0 auto; color: #2F2F2F; text-decoration: underline;}


/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap { width: 100%; background: #EAEDEF;}

table.body-wrap .center.campaign_name p {
	font-size: 24px;
  text-align: center;
  color: #1B2F3A;
	margin: 0;
	padding: 25px;
}

table.body-wrap .events_summary .cities {
  text-align: left;
  padding-left: 120px;
  padding-right: 50px;
}

.gdg_color {
    color: #469BF3;
}

.gbg_color {
    color: #27B945;
}

.geg_color {
    color: #FCD120;
}

.gxg_color {
    color: #E3624A;
}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;	clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
	
}


/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
  font-family: "OpenDyslexic", "Open Sans", "Helvetica", "Arial", "sans-serif";
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#ffffff;}

.collapse { margin:0!important;}

p, ul { 
	margin-bottom: 10px; 
	font-weight: normal; 
	font-size:14px; 
	line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

ul li {
	margin-left:5px;
	list-style-position: inside;
}

/* ------------------------------------- 
		SIDEBAR 
------------------------------------- */
ul.sidebar {
	background:#ebebeb;
	display:block;
	list-style-type: none;
}
ul.sidebar li { display: block; margin:0;}
ul.sidebar li a {
	text-decoration:none;
	color: #666;
	padding:10px 16px;
/* 	font-weight:bold; */
	margin-right:10px;
/* 	text-align:center; */
	cursor:pointer;
	border-bottom: 1px solid #777777;
	border-top: 1px solid #FFFFFF;
	display:block;
	margin:0;
}
ul.sidebar li a.last { border-bottom-width:0px;}
ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}



/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:750px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:15px 0;
	max-width:750px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; border-spacing: 0;}


/* Odds and ends */
.column {
	width: 375px;
	float:left;
}

.column tr td {
    padding: 5px;
}

.column-wrap {
	padding:0!important; 
	margin:0 auto; 
	max-width:750px!important;
}
.column table { width:100%;}
.social .column, .events_summary .column, .events_list .column {
	width: 280px;
	min-width: 279px;
	float:left;
}

table.inside-wrap {
  width: 100%;
  padding: 15px;
}

div.inside-content {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.inside-container {
	padding: 0 0 20px 0;
}

.header_logo img {
	padding: 60px;
}

.events_summary h4 {
	padding: 0 0 20px 1px;
  font-size: 18px;
}

.events_summary h4 span {
	vertical-align: middle;
}

.events_summary img {
  padding-right: 10px;
	vertical-align: middle;
}

.events_summary .chapter {
  width: 40px;
  vertical-align: top;
  text-align: right;
  padding-left: 25px;
	padding-top: 2px;
}

.events_summary .chapter_mark {
  font-weight: bold;
    font-size: 13pt;
}

.events_summary .event_name {
	padding-left: 20px;
}

.events_summary a {
    text-decoration: none;
	font-size: 15pt;
}

.events_summary a:hover {
    text-decoration: underline;
}

.events_summary .place {
  color: #7B868B;
  font-size: 15px;
	line-height: 20px;
}

.summary_event td {
	padding-bottom: 5px;
}

.delimiter hr {
  height: 15px;
}

.history h3 {
  font-size: 20px;
  font-style: italic;
}

.history p {
  color: #7B868B;
  text-align: justify;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }

/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 750px) {
	
	a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

	div[class="column"] { width: auto!important; float:none!important;}
	
	table.social div[class="column"], table.events_summary div[class="column"], table.events_list div[class="column"] {
		width:auto!important;
	}

}
